{
  "version": "@@VERSION@@",
  "description": "Safely coordinate release notes, version bumps, tags, and pushes",
  "homepage": "https://github.com/fxdv/patchlog",
  "license": "MIT",
  "architecture": {
    "64bit": {
      "url": "@@BASE_URL@@/@@WINDOWS_AMD64_ARCHIVE@@",
      "hash": "@@WINDOWS_AMD64_SHA@@",
      "extract_dir": "patchlog_v@@VERSION@@_windows_amd64"
    }
  },
  "bin": "patchlog.exe"
}
